//Variables
@green: #00B390;
@anti-flash-white: #F1F2F7;
@navy-blue: #293849;
@darker-navy-blue: #242F3E;
@text-color: #435C78;
@patua-one: 'Patua One', cursive;
@bree-serif: 'Bree Serif', serif;
@black: #333;
@white: #fff;
@roboto: 'Roboto', sans-serif;
//Mixins
.topLists () {
  list-style: none;
}

//Styles
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

div.top-links {
  background-color: #e2e2e2;
  height: 20px;
  width: 100%;

  ul.contact-top {
    .topLists();
    position: relative;
    left: 17.3%;
    li {
      display: inline-block;
      margin-left: 20px;
    }
  }

  ul.social-top {
    .topLists();
    position: relative;
    right: 20%;
    li {
      margin-right: 15px;
      display: inline-block;
      a {
        color: @black;
      }
    }
  }
}

nav.navbar-design-1 {
  border: none;
  margin-top: 15px;

  a.navbar-brand {
    font-family: @patua-one;
    text-transform: uppercase;
    font-size: 28px;
    color: @black;
  }

  ul.navbar-nav {
    font-family: @roboto;
    li a {
      color: @black;
      font-size: 16px;
    }
  }
}

div.jumbotron {
  color: @white;
  background-image: url('../images/diagram.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  h1 {
    margin-top: 250px;
    text-transform: uppercase;
    font-family: @bree-serif;
  }

  p {
    color: darken(@white, 40%);
  }
}



section#description {

  h2 {
    font-family: @roboto;
    font-size: 34px;
  }

  i.fa-heart-o, i.fa-lightbulb-o, i.fa-star-o {
    color: @green;
    float: left;
    margin-right: 10px;
  }
}

section#portfolio > div.container {
  background-color: #eee;
}









footer.footer {
  bottom: 0;
  position: absolute;
  height: 100px;
  width: 100%;
}
